/* Estilo de la clase menu */
/* Se usa para definir la apariencia del menú de navegación */
.menu {
    font-size: x-large; /* Tamaño grande del texto para mejor visibilidad */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; /* Fuente moderna y limpia */
    padding-left: 30px; /* Espaciado a la izquierda del menú */
    margin: 10px; /* Margen exterior para separación */
    display: flex; /* Permite alinear los elementos del menú en una línea horizontal */
}

/* Estilo para los enlaces dentro del menú */
/* Define la apariencia de los elementos <a> (enlaces) en el menú */
.menu a {
    padding: 10px 40px; /* Espaciado interno en los enlaces para hacerlos más grandes y fáciles de seleccionar */
    color: rgb(233, 224, 224); /* Color claro para el texto de los enlaces */
    text-decoration: none; /* Elimina el subrayado predeterminado de los enlaces */
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); /* Agrega una sombra ligera para mejorar la visibilidad del texto */
}

/* Efecto hover en los enlaces del menú */
/* Se activa cuando el usuario pasa el cursor sobre los enlaces */
.menu a:hover {
    background-color: #75E6DA; /* Cambia el fondo del enlace al pasar el mouse */
}
